/*
 * Minimalistic CSS
 * No css preprocessor... so no vendor prefix =(
 */

html,
body{
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: monospace;
}

h1{
  margin: 40px auto;
  width: 186px;
  text-align: center;
  font-size: 1.3em;
}

#wrapper{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0 auto;
  width: 186px;
  padding: 5px 0;
}

a{
  color:white;
  font-size: 1.5em;
  display: block;
  float: left;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: black;
  line-height: 2.61;
  text-align: center;
  border: 1px solid black;
  margin: 5px;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

a:hover{
  color: black;
  background-color: white;
}

a:active{
  transform: scale(.85, .85);
   -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}