<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>CM JS dev, requirement 8</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="app/css/app.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container" ng-include src="'app/pages/app.html'" ng-controller="AppCtrl"></div>
    <!-- vendors -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <!-- ng animate is responsible for the ng-repeat enter animation -->
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <!-- module -->
    <script src="app/js/components/cm.issues.js"></script>
    <!-- app:
    angular app splitted in 2 module: this app module and cm-issue module
    1 controller belonging to the app
    1 factory and 1 directive belonging the cm-issue
    -->
    <script src="app/js/config.js"></script>
    <script src="app/js/app.js"></script>
    <script src="app/js/templates.js"></script>
    <script src="app/js/controllers/appctrl.js"></script>
  </body>
</html>