<!-- main template -->
<div>
  <p><!-- manage loading animation -->
    <a ng-if="!loading" href="#" ng-click="fetch()">Load the current issues list</a>
    <a ng-if="loading" href="#"><i class="fa-li fa fa-spinner fa-spin"></i></a>
  </p>
</div>
<div ng-if="error!==''" class="error alert-error">{{error}} <span ng-click="closeError()">x</span></div>
<div ng-if="data.length === 0">
  Everything works properly
</div>
<!-- directive managing issue template -->
<div cm-issues issues="data"></div>
