<div ng-repeat="issue in issues" class="issue-container">
    <h3 ng-if="issue.status==='Unresolved'">{{issue.title}} - {{issue.updates[0].at | date : 'fullDate'}}</h3>
    <h3 ng-if="issue.status==='Resolved'">{{issue.title}} - Resolved {{issue.updates[0].at | date : 'fullDate'}}</h3>
    <p>{{issue.description}}</p>
    <div class="issue-updates clearfix" ng-if="issue.updates.length>0">
        <p>Updates:</p>
        <!-- Each update should be rendered with the following template -->
        <div class="issue-updates--item" ng-repeat="update in issue.updates track by $index">
            <em>By {{update.by}} {{update.at}}</em>
            <img ng-src="{{update.avatar}}" alt="">
            <p>{{update.update}}</p>
            <!-- <hr ng-if="issue.updates[$index+1]"/> -->
        </div>
    </div>
    <hr />
</div>