//no use of variable for now

// *** partials ***
@import 'mixins';

*{
  -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html,
body{
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: monospace;
}

.container{
  // width: 960px;
  margin: 0 auto;
  padding: 30px;

  .error{
    span{
      cursor: pointer;
    }
  }

  a{
    display: inline-block;
    text-decoration: none;
    background: #ff832f;
    border: 1px #ff832f solid;
    height: 30px;
    @include border-radius(5px);
    line-height: .7;
    color: black;
    padding: 10px;
    width: 260px;
    text-align: center;
    position: relative;

    i{
      left: 113px;
      top: 7px;
    }

    // &:hover{
    //   @include transition(all .15s ease-in-out);
    // }

    // &:hover{
    //   color: #ff832f;
    //   background-color: white;
    //   border: 1px #000 solid;
    // }

    &:active{
      transform: scale(.9, .9);
      @include transition(all .1s ease-in-out);
    }
  }

  .issue-container{
    min-height: 300px;

    &.ng-enter,
    &.ng-leave {
      @include transition(0.4s ease-in);
    }

    &.ng-enter,
    &.ng-leave.ng-leave-active {
      opacity:0;
      transform: scale(.4, .4);
    }
    &.ng-leave,
    &.ng-enter.ng-enter-active {
      opacity:1;
      transform: scale(1, 1);
    }

    .issue-updates{

      >div{
        width: 250px;
        border: 1px black solid;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
        @include border-radius(10px);
        padding: 10px;
        float: left;
        margin: 7px;
        height: 320px;
        overflow: auto;
        overflow-x: hidden;

        img{
          @include border-radius(50px);
          margin: 13px 125px;
          left: -60px;
          position: relative;
        }
      }
    }
  }
}

@media screen and (min-width:768px){
  .container{
    padding: 40px 0;
    width: 960px;
  }
}